{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <img src="{% static 'img/senai.png' %}" alt="Usuario" width="135" height="70" style="float:left;">
</head>
<body>
    <header>
        <h1 style="display: block; text-align: center; color: white;">Desenvolvedores Senai </h1>
    </header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'desenvolvedor1' %}">Desenvolvedor 1</a>
        <a href="{% url 'desenvolvedor2' %}">Desenvolvedor 2</a>
        <a href="{% url 'desenvolvedor3' %}">Desenvolvedor 3</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
